h5 {
  margin-bottom: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

li {
  margin-bottom: 1em;
}

.ReactModal__Content {
    margin: auto;
    width: 40em;
    border: none !important;
    background-color: white !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.addNewRecipe {
  position: fixed;
  margin-top: 2em;
  margin-left: .75em;
}

/* RECIPE CARD */

.cardCover {
  height: 13em;
  width: auto;
  border-radius: .5em .5em 0 0;
  background-size: cover;
  margin-bottom: 1em;
}

.recipeCard {
  background-color: #f5f5f5 !important;
  border-radius: .5em;
  padding-bottom: 1.5em;
  padding-right: 0;
  padding-left: 0;
  margin-left: 1em;
  margin-top: 2em;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.viewButton, .addNewRecipe {
  background-color: #C98474;
  color: white;
  border: none;
  width: 5em;
  border-radius: .25em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.viewButton:hover {
  background-color: orange;
  color: black;
}

/********/

/* RECIPE DETAILS */

.detailPic {
  border-radius: 1em;
  margin-top: 1em;
}

.recipeTitle {
  color: #ff4500;
  margin-bottom: .1em;
}

.specials {
  font-size: small;
  font-weight: bold;
  color: darkred;
}

/********/

/* FORMS */

.errorMessage {
  color: red;
  font-size: .75em;
}

.formSection {
  margin-top: 2em;
}

.formTitle {
  color: #ff4500;
}

.addInputRows, .removeInputRows, .formButton {
  border: none;
  background-color: orange;
  border-radius: .25em;
}

.removeInputRows {
  margin-top: 2.2em !important;
}

.formButton {
  margin-top: 1em;
}

/********/
